
.leftarrow{
	position: absolute;
	width: 35px;
	height: 35px;
	left: 33px;
	top: 30px;
	font-size: 35px;
	color: rgba(229, 229, 229, 1);
	background-image: url(../img/common/leftArrow.svg);
	background-size: 100% 100%;
	border:none
}

.bankTitle{
	position: absolute;
	width: 86px;
	height: 33px;
	left: 26px;
	top: 118px;
	color: rgba(128, 128, 128, 1);
	font-size: 21px;
	line-height: 150%;
	text-align: left;
	font-weight: bold;
}

.offerBox{
	position: absolute;
	width: 370px;
	height: 420px;
	left: 22px;
	top: 168px;
	color: rgba(80, 80, 80, 1);
	
	font-size: 18px;
	line-height: 150%;
	overflow-y: auto; 
	overflow-x:hidden;
}
.offerdetail{
	position:relative;
	width: 370px;
	height: 94px;
	margin-bottom:17px;
	color: rgba(128, 128, 128, 1);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 16px;
	font-size: 17px;
	line-height: 150%;
	text-align: left;
	font-weight: bold;
}

/*  去除滚动条 */
.offerBox::-webkit-scrollbar {
    width: 0px;
  }
.bankGicon{
	position:absolute;
	width: 68px;
	height: 68px;
	left: 5px;
	top: 13px;
	background-size: 100% 100%;
}
.detail{
	color: rgba(0, 0, 0, 0.5438462409);
	font-size: 17px;
	line-height: 140%;
	text-align: left;
	height: 28px;
	width: 260px;
	text-overflow:ellipsis;/*设置隐藏部分为省略号*/
	overflow: hidden;/*设置隐藏*/
    display: -webkit-box;
    -webkit-line-clamp: 1;/*设置显示行数，此处为2行，可设置其他数字*/
    -webkit-box-orient: vertical;
}
.detailtitle{
	position:absolute;
	left: 87px;
	top: 5px;

}
.detailcontent{
	position:absolute;
	left: 87px;
	top: 33px;
}
.detailbottom{
	position:absolute;
	left: 87px;
	top: 59px;
}
.bottomArea{
	position:absolute;
	display:flex;
	width: 370px;
	height: 51px;
	left: 22px;
	top: 620px;
	color: rgba(80, 80, 80, 1);
	border: rgba(128, 128, 128, 1) solid 1px;
	border-radius: 4px;
}

.leftarrow{
	position: absolute;
	width: 35px;
	height: 35px;
	left: 33px;
	top: 30px;
	font-size: 35px;
	color: rgba(229, 229, 229, 1);
	background-image: url(../img/common/leftArrow.svg);
	background-size: 100% 100%;
	border:none
}
.bottomCotent{
	position: relative;
	left: 152px;
	top:15px;
	font-size: 15px;
	line-height: 150%;
	text-align: center;
}
.plusicon{
	position:relative;
	width: 15px;
	height: 15px;
	left: 151px;
	top:17px;
	font-size: 15px;
	color: rgba(0, 0, 0, 1);
	background-image: url(../img/common/plus.svg);
	background-size: 100% 100%;
	border:none
}