@font-face{
    font-family: 'PingFang SC';
    src : url('../fonts/PingFang-SC-Regular.ttf');
	
}


.scan_box{
    width: 413px;
	height: 736px;
	top: 0px;
	color: rgba(80, 80, 80, 1);
	background-color: rgba(0, 0, 0, 1);
	font-size: 14px;
	line-height: 150%;
	text-align: center;
}

.scan_logo{
    width: 35px;
	height: 35px;
	left: 33px;
	top: 30px;
	font-size: 35px;
    color: rgba(229, 229, 229, 1);
    position: absolute;
}

.top_text{
    width: 67px;
	height: 30px;
	left: 312px;
	top: 31px;
	color: rgba(229, 229, 229, 1);
	font-size: 20px;
	line-height: 150%;
	text-align: left;
    font-weight: bold;
    position: absolute;
}

.top_back{
	width: 80px;
	height: 70px;
}

#reader{
    top: 200px;
    border: none !important;
}

#reader__scan_region .img{
    width:233px;
    height:233px;
}

#reader__camera_selection{
    visibility: hidden;
}

#reader__dashboard_section_swaplink{
    visibility: hidden;
}

#reader__status_span{
    visibility: hidden;
}

