<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.captainxero.project.dao.CardInfosMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.captainxero.project.entity.CardInfos">
        <id column="Cust_ID" property="custId" />
        <result column="Card_No" property="cardNo" />
        <result column="Card_Seq" property="cardSeq" />
        <result column="Bank_Card_Typ" property="bankCardTyp" />
        <result column="Card_Typ" property="cardTyp" />
        <result column="Bank_Logo_Add" property="bankLogoAdd" />
        <result column="Tail_Number" property="tailNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Cust_ID, Card_No, Card_Seq, Bank_Card_Typ, Card_Typ, Bank_Logo_Add, Tail_Number
    </sql>

</mapper>
